.header, .footer {
    text-align: center;
    padding: 10px 0; 
    background-color: #212121;
    width: 100vw; 
    box-sizing: border-box;
    color: white;
}

.header {
    margin-bottom: 20px; 
}

.footer {
    margin-top: 20px; 
}

.footer a {
    margin: 0 10px;
}
body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #A0A0A0;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    background-color: #404040;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 50%;
    box-sizing: border-box; 
    margin: 0 auto 20px auto;
    margin-bottom: 20px;
  }
  
  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
  
  .description {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button,
  .repo-button {
    background-color: #226BD8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    width: 45%;
    cursor: not-allowed; 
  }
  
  .repo-button {
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .repo-button:hover {
    background-color: #3b8bbd;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  